.header {
  background-image: url("../../images/homepage/main-screen/main-screen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  text-align: center;
}

.title{
  font-size: 4em;
  color: white;
}

.text{
  font-size: 1.5em;
  color: white;

}