body {
  margin: 0px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 8px;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 24px;
}

.btn {
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold !important;
}


footer p {
  font-size: 12px;
}
